@model USOS.Models.Semesters.SemesterIndexModel

<script src="~/js/bootstrap.js"></script>

<div id="container">
    <div id="content">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Since</th>
                    <th>Until</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var semester in Model.Semesters)
                {
                    <tr>
                        <td>@semester.Id</td>
                        <td>@semester.Since.ToShortDateString()</td>
                        <td>@semester.Until.ToShortDateString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>