@model USOS.Models.Courses.CourseIndexModel

<script src="~/js/bootstrap.js"></script>

<div id="container">
    <div id="content">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Start Year</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in Model.Courses)
                {
                    <tr>
                        <td>@course.Id</td>
                        <td>@course.Name</td>
                        <td>@course.StartYear</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



