@model USOS.Models.Subjects.SubjectIndexModel

<script src="~/js/bootstrap.js"></script>

<div id="container">
    <div id="content">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var subject in Model.Subjects)
                {
                    <tr>
                        <td>@subject.Id</td>
                        <td>@subject.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
